body{
    padding: 0px;
    margin: 0px;
}

.productContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f1f1f1;
    height: 32rem;
    border: 1px solid #f1f1f1;
}

.productImage{
    width: 600px;
    height: 500px;
}

.productHeading{
    color: #f1f1f1;
}


