body{
    padding: 0px;
    margin: 0px;
}

.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.signupContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.loginButton{
    margin: 10px;
    width: 200px;
    background: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transform: translateY(-50%);

}                                

.haveAccount .signupLink{
    text-decoration: none;
    color: aqua;
}

.haveAccount .signupLink:hover {
    text-decoration: underline;
}

.loginHeading, .haveAccount{
    color: white;
}

.submitButton{
    background: green;
    color: white;
    border-radius: 10px;
    width: 193px;
    transform: translateY(-10px);
}

.haveAccount{
    margin-bottom: 10px;
}